.accountcol{
display: grid;
grid-template-columns: auto auto  ;
}
.accountcol .MyAccount{
    font-weight: bolder;
    font-size: large;
}
.accountcol label{
    color:#0000009e;
    margin: 0 5px;
}
.accountcol .sortby,.accountcol .Category{
display: flex;
align-items: center;
z-index: 4;
}
.delet{
    border: 1px solid #00000066;
    color: red;
    margin-left: 6px;
}
@media only screen and (max-width: 800px) {
    .items{
        display: flex;
    }
    
}
.items .item{
    display: block;
    border: 2px solid #00000012;
    padding: 10px;
    width: 18pc;
    cursor: pointer;
    background-color: #00000014;
    color: black !important;
    text-decoration: none;
}
.items .active{
    border-left: 5px solid blue ;
    background-color: #00000047;
}
.items{
margin-top: 20px;
}