@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}
h3 a {
  color: #fff;
  text-decoration: none;
}
.LOGOFONT a{
  font-family: 'Dancing Script', cursive;
}
nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    z-index: 5;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
.Navloginbtn {
  color: #ef5e4e;
  font-weight: bold;
  border: 1px solid #0000003b;
  margin-left: 10px;
}
.Navloginbtn:hover {
  color: #ef5e4e;
  background-color: #0000003b;
  font-weight: bold;
  border: 1px solid #0000003b;
  margin-left: 10px;
}
.Nameuser {
  position: relative;
  background-color: #fff;
  text-transform: capitalize;
  color: #db2b39;
  border-radius: 50px;
  font-weight: bold;
  font-size: larger;
  width: 30px;
  padding: 0 7px;
}
.redpoint{
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: red;
  top: 0;
  right: 0;
}
header .active{
  color:#ef5e4e ;
}
.navbars{
  position: relative;
}
.redpointbars{
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: red;
  top: 5px;
  right: 0;
}
